<launch>
    <arg name="logging_enabled" default="true"/>
    <arg name="test_id" default="pr2_trials"/>
    <arg name="deformability_override" default="0"/>
    <arg name="multi_model" default="0"/>
    <arg name="planning_horizion" default="1"/>
    <arg name="kalman_parameters_override" default="0"/>
    
    <include file="sim_world.launch"/>
    <include file="world_planner_bridge.launch"/> 

    <include file="planner.launch">
        <arg name="logging_enabled"             value="$(arg logging_enabled)"/>
        <arg name="test_id"                     value="$(arg test_id)"/>
        <arg name="deformability_override"      value="$(arg deformablity_override)"/>
        <arg name="multi_model"                 value="$(arg multi_model)"/>
        <arg name="planning_horizion"           value="$(arg planning_horizon)"/>
        <arg name="kalman_parameters_override"  value="$(arg kalman_parameters_override)"/>
        
        <arg if="$(arg deformability_override)" name="translational_deformability" value="$(arg translational_deformability)"/>
        <arg if="$(arg deformability_override)" name="rotational_deformability" value="$(arg rotational_deformability)"/>
        <arg if="$(arg kalman_parameters_override)" name="process_noise_factor" value="$(arg process_noise_factor)"/>
        <arg if="$(arg kalman_parameters_override)" name="observation_noise_factor" value="$(arg observation_noise_factor)"/>
    </include>
</launch>
