<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    	<arg name="world_name" value="$(find pr2_cartesian_controller)/worlds/controls_project.world" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- Spawn the pr2 into Gazebo -->
    <include file="$(find pr2_gazebo)/launch/pr2_no_controllers.launch" />

    <!-- Create the controllers for the pr2 -->
    <include file="$(find pr2_controller_configuration_gazebo)/launch/pr2_default_controllers.launch" />
</launch>
